<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text.css" href="../public/css/application.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
			<div class="wrapper">
				<div class="logo">
					<img width="50px" src="https://pbs.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx.png"/>
				</div>
				<span>Twittah</span>
					<div class="login">
						<form>
							<input name="email" type="text">
							<input name="password" type="text">
						</form>
					</div>
			</div>
	</header>
	<div id="main">
	
	</div>
<script src='../public/javascript/application.js'></script>
 <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
   <script src="../public/javascript/application.js"></script>
</body>
</html>